@use 'variables' as *;

.header {
  background-color: $bg-dark;
  height: 55px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 10px;
  vertical-align: middle;
}

.logo {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
}

.brand {
  font-family: $font-headline;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 40px;
}

.desktop-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  a {
    color: #fff;
    text-decoration: none;
    font-family: $font-headline;
    font-weight: 500;
    transition: color 0.2s;

    &:hover {
      color: $tertiary;
    }
  }
  a.active {
    color: $tertiary;
  }
  .signup-btn {
    background-color: $tertiary;
    color: $bg-dark;
    border: none;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

/* Burger button */
.burger {
  border: none;
  background-color: $bg-dark;
  color: #fff;
}

.bi-list {
  transform: scale(1.45);
  display: inline-block;
  vertical-align: middle;
}

/* Mobile menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  background-color: $bg-dark;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  gap: 15px;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $tertiary;
    }
  }

  .signup-btn {
    background-color: $tertiary;
    color: $bg-dark;
    border: none;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: 400;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &.open {
    display: flex;
  }
}

/* Responsiveness */
@media (max-width: 1000px) {
  .desktop-menu {
    display: none;
  }
  .burger {
    display: flex;
  }
}
