<header class="header">
  <div class="logo-container">
    <a [routerLink]="['/']">
      <img src="assets/ER_logo.png" class="logo" alt="Logo EcoRide" />
      <span class="brand">EcoRide</span>
    </a>
  </div>
  <!--Menu Desktop-->
  <nav class="desktop-menu">
    <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      >Accueil</a
    >
    @if(isLoggedIn()) {
    <a
      [routerLink]="['/', userId, 'my-space']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Mon espace</a
    >
    }
    <a
      [routerLink]="['/contact']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Contact</a
    >
    @if(isLoggedIn()) {
    <a (click)="logout()">Déconnexion</a>
    }@else {
    <a
      [routerLink]="['/login']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Connexion</a
    >
    <button class="signup-btn" [routerLink]="['/signup']">S'inscrire</button>
    }
  </nav>
  <!--Menu Burger-->
  <button class="btn btn-outline-light d-lg-none burger" (click)="toggleMenu()">
    <i class="bi" [ngClass]="menuOpen() ? 'bi-x-lg fs-2' : 'bi-list fs-2'"></i>
  </button>
  <!--Menu Mobile-->
  <nav class="mobile-menu" [class.open]="menuOpen()">
    <a [routerLink]="['']" (click)="closeMenu()">Accueil</a>
    @if(isLoggedIn()) {
    <a [routerLink]="['/', userId, 'my-space']" (click)="closeMenu()">Mon espace</a>
    }
    <a [routerLink]="['/contact']" (click)="closeMenu()">Contact</a>
    @if(isLoggedIn()) {
    <a (click)="logout()">Déconnexion</a>
    }@else {
    <a [routerLink]="['/login']" (click)="closeMenu()">Connexion</a>
    <button class="signup-btn" [routerLink]="['/signup']" (click)="closeMenu()">S'inscrire</button>
    }
  </nav>
</header>
