<section class="search-bar-container">
  <form [formGroup]="form" (ngSubmit)="onSearch()">
    <div class="search-content">
      <div class="field">
        <div class="input-wrapper">
          <i class="bi bi-geo-alt-fill"></i>
          <input
            type="text"
            formControlName="originCity"
            placeholder="Ville de départ"
            autocomplete="off"
          />
        </div>
        @if (originSuggestions.length) {
        <ul class="list-group autocomplete">
          @for (city of originSuggestions; track city.code) {
          <li class="list-group-item list-group-item-action" (click)="selectOrigin(city)">
            {{ city.nom }}
          </li>
          }
        </ul>
        } @if ((!validation.isNonEmpty(form.value.originCity) ||
        !validation.isValidCity(form.value.originCity)) && form.get('originCity')?.touched) {
        <small class="error">{{ errorOrigin }}</small>
        }
      </div>

      <div class="field">
        <div class="input-wrapper">
          <i class="bi bi-flag-fill"></i>
          <input
            type="text"
            formControlName="destinyCity"
            placeholder="Ville d'arrivée"
            autocomplete="off"
          />
        </div>

        @if (destinySuggestions.length) {
        <ul class="list-group autocomplete">
          @for (city of destinySuggestions; track city.code) {
          <li class="list-group-item list-group-item-action" (click)="selectDestiny(city)">
            {{ city.nom }}
          </li>
          }
        </ul>
        } @if ((!validation.isNonEmpty(form.value.destinyCity) ||
        !validation.isValidCity(form.value.destinyCity)) && form.get('destinyCity')?.touched) {
        <small class="error">{{ errorDestiny }}</small>
        }
      </div>

      <div class="field">
        <div class="input-wrapper">
          <i class="bi bi-calendar2-date-fill"></i>
          <input
            class="form-control"
            placeholder="aaaa-mm-jj"
            formControlName="date"
            ngbDatepicker
            #d="ngbDatepicker"
            [readonly]="true"
            (click)="d.toggle()"
            [autoClose]="'outside'"
            [container]="'body'"
            required
          />
        </div>
        @if ((!validation.isNonEmpty(form.value.date) || !validation.isValidDate(form.value.date))
        && form.get('date')?.touched) {
        <small class="error">{{ errorDate }}</small>
        }
      </div>

      <div class="field">
        <button class="btn search-btn" type="submit">Recherche</button>
      </div>
    </div>
  </form>
</section>
