// Color palette
$primary: #244b36;
$secondary: #9bb98d;
$tertiary: #ffcc00;
$light: #bde7e5;
$dark: #4a5d6c;
$bg-dark: #293b48;

//Typography
$font-headline: 'Commissioner', sans-serif;
$font-content: 'Source Sans 3', sans-serif;

//Breakpoints
$breakpointMaxWidth: 991px;
$breakpointMinWidth: 992px;
