// Color palette
$primary: #5d796a;
$secondary: #9bb98d;
$tertiary: #ffcc00;
$light: #bde7e5;
$dark: #4a5d6c;
$bg-dark: #293b48;

//Typography
$font-headline: 'Commissioner', sans-serif;
$font-content: 'Source Sans 3', sans-serif;

//Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
