// Color palette
$primary: #29553d;
$secondary: #99d37e;
$tertiary: #ffcc00;
$light: #bde7e5;
$dark: #4a5d6c;
$bg-dark: #293b48;
$attention: #ff0004;

//Typography
$font-headline: 'Commissioner', sans-serif;
$font-content: 'Source Sans 3', sans-serif;

//Breakpoints
$breakpointMaxWidth: 991px;
$breakpointMinWidth: 992px;

//Components fixed
$header-height: 55px;
