@use 'variables' as *;

.big-title-container {
  width: 100%;
  height: 225px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/assets/une-route-photorealiste-minimaliste.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .big-title {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $font-headline;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: $tertiary;
  }
}
