@use 'variables' as *;

/* Headline section */
.headline-container {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px 0px;
}

h2 {
  width: 100%;
  text-align: center;
  font-family: $font-headline;
  color: $primary;
  font-weight: 500;
  letter-spacing: 2px;
}

h5 {
  width: 100%;
  text-align: center;
  font-family: $font-content;
  color: $secondary;
}

/* Cards section */
.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: $breakpointMinWidth) {
    flex-direction: row;
    justify-content: center;
  }
}

.card-wrapper {
  width: 280px;
  height: 718px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;

  .card-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .icone img {
      height: 70px;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    .content {
      color: white;
      font-family: $font-content;
      text-align: justify;

      p {
        margin-bottom: 10px;
        font-size: 0.875rem;
      }
    }
  }

  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
      width: 100%;
      height: 140px;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
  }
}

.card-01 {
  background-color: $bg-dark;
}

.card-02 {
  background-color: $primary;
}

.card-03 {
  background-color: $dark;
}
